<todos-shell></todos-shell>
<footer class="info">
  <p>Double-click to edit a todo</p>
  <!-- Remove the below line ↓ -->
  <p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
  <!-- Change this out with your name and url ↓ -->
  <p>Created by <a href="http://todomvc.com">you</a></p>
  <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
</footer>


<h1 *appDemoDirective>Kein Test</h1>
<ng-template appDemoDirective>
  <h1>Kein Test</h1>
</ng-template>

<h1 *ngIf="17 > 4">Demo</h1>

<ng-template [ngIf]="true">
  <h1>Noch ein Demo</h1>
</ng-template>

<ul>
  <li *ngFor="let z of zahlen; let ix=index; let erstes=first; let gerade=even;">
    {{ erstes ? 'Erster: ' : '' }} {{ ix }} {{ z }} {{ gerade }}
  </li>
</ul>

<ul>
  <ng-template ngFor [ngForOf]="zahlen" let-zahl let-erstes="first" let-ung="odd">
    <li>{{ ung }} {{ erstes }} {{ zahl }}</li>
  </ng-template>
</ul>
